Binaries
Build
MyAssetSourses
DerivedDataCache
Intermediate
Saved
Content/AnimStarterPack
Content/StarterContent
Content/Mixamo
Plugins/Developer/RiderLink
.idea
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DotSettings.user